name: Build

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3
        continue-on-error: true
        with:
          min-wrapper-count: 1

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make Gradle executable
        working-directory: screenshotmetadata
        run: chmod +x gradlew

      - name: Build
        working-directory: screenshotmetadata
        run: ./gradlew build --stacktrace

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: jar
          path: screenshotmetadata/build/libs/*.jar

      - name: Publish to Modrinth
        if: startsWith(github.ref, 'refs/tags/')
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: jTGnYYrK
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          files: screenshotmetadata/build/libs/*.jar
          name: ${{ github.ref_name }}
          version: ${{ github.ref_name }}
          version-type: release
          loaders: fabric
          game-versions: |
            1.21.11
          java: 21

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: screenshotmetadata/build/libs/*.jar
